html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-image: url(images/fallingBTC.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
}
.center-content{
    background-color: azure;
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
header{
    padding-top: 3rem;
    overflow: auto;
}
nav{
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.25rem
}
nav a{
    background-color: white;
    color: black;
    display: inline-block;
    padding: 0.25rem 1rem;
    margin: 0.25rem;
    border: solid;
    border-radius: 1rem;
    border-color: black;
    border-width: medium;
    text-decoration: none;
    transition: all, 1s;
}
nav a:hover, nav a:focus{
    background-color: black;
    color: white;
    padding: 0.5rem 2rem;
}
footer{
    padding 10px;
}
h1{
    margin-bottom: 0.5rem;
    font-family: Garamond,serif;
    text-decoration:overline;
    font-size:  6rem;
    color: darkred;
}
h2{
    font-family: "Times New Roman", serif;
    font-size: 2.5rem;
    margin: 0;
}
h3{
    margin-top: 0.5rem;
}
h4{
    margin: 0.5rem 0 auto;
}
.content-wrap{
    width:65%;
    float: left;
    margin: 0;
    padding: 20px;
}
.centered{
    max-width: 1000px;
    margin: 0 auto;
}
.small-column{
    padding: 20px;
    float: left;
    width: 35%;
}
.flying{
  box-sizing: content-box;
  position: fixed;
  left: 40%;
  top: 40%;
  width: 20vh;
  border-radius: 50%;
  filter: brightness(150%);
  transition: all 1.5s ease-in-out;
}

#mustintro{
    display: inline-block;
    margin-left: 1rem;
}
#must-img1{
    float: right;
    width: 12rem;
    border-radius: 50%;
    margin: 1rem;
}
@keyframes zoom-zoom{
    0%{
        width: 12rem;
    }
    50%{
        width: 24rem
    }
    100%{
        width: 12rem;
    }
}
#must-img1:hover{
    animation-name: zoom-zoom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#work{
    background-color:bisque;
}
#education{
    background-color: cornsilk
}
footer p{
    text-align: center;
}
.hidden{
  display: none;
}
@media (max-width: 767px){
    header{
        padding-top: 4rem;
    }
    h1{
        margin-top: 4rem;
        font-size: 4rem;
    }
    #must-img1{
        width: 8rem;
    }
    .content-wrap{
        width:100%;
        clear: both;
    }
    .small-column{
        width: 100%;
        clear:both;
    }
}
@media (max-width: 480px){
    body{
        background-image: none;
    }
    header{
        padding-top: 0rem;
    }
    nav{
        display: none;
    }
}
